<h2>Контакты</h2>

<form action ="/contacts" method="POST">
  <div class="form-group">
    <label>Email</label>
    <input  name ="email" type="email" class="form-control"  placeholder="Введите ваш email">
  </div>
  
  <div class="form-group">
    <label>Сообщение</label><br>
    <textarea  name="message" rows="10" cols="90" placeholder="Напишите что-нибудь"></textarea>	
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>